<article>
    <div class="container-list-items">
        <div class="container-search">
            <input (input)="onChangeInput($event)" type="text" placeholder="Buscar...">
        </div>
        @defer (when listMoviesShow.length > 0) {
            @for (movie of listMoviesShow; track movie.title) {
                <div class="container-item">
                    <div class="container-img">
                        <img src={{movie.urlImg}} alt={{movie.title}}>
                    </div>
                    <div class="container-information">
                        <p>{{movie.title}}</p>
                        <p>RAKING: {{movie.ranking}}</p>
                    </div>
                </div>
            }
        }
    </div>
</article>
