<article>
    <div class="container-list-items">
        <div class="container-search">
            <input type="text" placeholder="Buscar...">
        </div>
        <div class="container-item">
            <div class="container-img">
                <img src="the-walking-dead-primera-temporada-original.jpg" alt="caratula de pelicula">
            </div>
            <div class="container-information">
                <p>nombre de la pelicula</p>
                <p>RAKING: 8.5</p>
            </div>
        </div>
    </div>
</article>
