/* Properties */

:root {
  --color-primary: #00fff2;
  --color-black: #000000;
  --color-white: #ffffff;
  --font-size: 16px;
  --max-width: 1024px;
  --box-shadow: 0 0 1.5rem var(--color-primary);
  --height-header: 4rem;
  --font-family: 'Roboto', sans-serif;
  --text-color: #000000;
  --filter-blur-bg: blur(9px);
  --color-bg-trasparent: rgba(192, 192, 192, 0.5);
  --color-invalid: rgb(148, 35, 35);
}

/* reset */

html {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: var(--font-size);
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--text-color);
  position: relative;
  width: 100vw;
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--text-color) !important;
}